# Root level ignores
.vscode/
.idea/

# Build / Environment / Dependencies
node_modules/
__pycache__/
.venv/
venv/
env/
.next/
build/
dist/
/out/
/coverage/

# Generate files / logs
*.log
error_log.txt
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore local compressed backups
*.zip
*.rar
*.tar.gz

# Env files
.env
.env.*
!.env.example

# MacOS
.DS_Store
